<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kozos.progtechbeadando">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Progtechbeadando">
        <activity
            android:name=".AndroidEssentials.CreateNewOrderActivity"
            android:exported="false" />
        <activity
            android:name=".AndroidEssentials.WarrantyCheckActivity"
            android:exported="false" />
        <activity
            android:name=".AndroidEssentials.OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".AndroidEssentials.ProductsActivity"
            android:exported="false" />
        <activity
            android:name=".AndroidEssentials.CustomersActivity"
            android:exported="false" />
        <activity
            android:name=".AndroidEssentials.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>